.wrapper {
	position: relative;
	display: block;
	width: 100%;
	z-index: 999;
}

.wrapper__navigation {
	display: none;
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	line-height: 60vh;
	text-align: center;
	transition: background-color 1s;
}