.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	width: 100%;
	background-color: #1C1C1C;
}

.footer__social {
	display: block;
	text-align: center;
}

.social__a {
	display: inline-block;
	color: #424242;
	font-size: 30px;
}

@media (max-width: 500px) {

	.social__a {
		display: block;
	}

}