/*-----------------*/

.wrapper {
	position: relative;
	display: block;
	width: 100%;
	z-index: 999;
}

.wrapper__navigation {
	display: none;
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	line-height: 60vh;
	text-align: center;
	transition: background-color 1s;
}

/*-----------------*/

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
    height: 100vh;
    width: 100%;
    background-color: #e6c1bf;
    background-image: url(../image/5-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.header__overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(25, 25, 25, 0.5);
	z-index: -1;
}

/*-----------------*/

.header__text {
	text-align: center;
	height: 100vh;
	line-height: 100vh;
	width: 450px;
	margin-left: 60px;
}

.header__text__block {
	color: #FFFFFF;
	font-family: 'Amatic SC';
	line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.header__text__p1 {
	color: #F3BC46;
	font-family: 'Amatic SC';
	font-size: 40px;
	border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
}

.header__text__p2 {
	color: #FFFFFF;
	font-family: 'Amatic SC';
	font-size: 24px;
	border-top: 1px solid;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
}

/*-----------------*/

.section__info {
	height: 2000px;
}

/*-----------------*/

.info {
	z-index: -10;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, #FBFFFF, #FFFFFF);

}

.info__headline {
	text-align: center;
}

.info__headline__h1 {
	color: #2E2E2E;
	font-family: Amatic SC;
	font-size: 80px;
	font-weight: 600;
	margin-bottom: 20px;
}

.info__headline__p {
}

.info__wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
}

.info__block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	min-width: 100px;
	height: 500px;
	width: 300px;
	margin: 20px;
	border-radius: 12px;
	box-shadow: 0px 3px 16px -9px rgba(0,0,0,1);
	transition: 0.2s;
}

.info__block:hover {
	box-shadow: 0px 3px 20px -1px rgba(0,0,0,.4);
}

.info__circle {
	display: block;
	min-height: 140px;
	min-width: 140px;
	background: url(../image/pictpop.png) no-repeat center;
	background-size: 100% 100%;
	border-radius: 200%;
	border: 5px solid #2196F3;
}

.info__h2 {
	font-family: Cinzel;
	font-size: 28px;
	color: #2196F3;
}

.info__text {
	display: block;
	font-family: Cinzel;
	color: #262020;
	font-size: 14px;
}

.info__circle, .info__h2, .info__text {
	margin: 20px;
}

/*-----------------*/

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	width: 100%;
	background-color: #1C1C1C;
}

.social {
	display: block;
	text-align: center;
}

.social__a {
	display: inline-block;
	color: #424242;
	font-size: 30px;
}

/*-----------------*/



/*-----------------*/

@media (max-width: 1365px) {

	.info__wrapper {
		max-width: 73%;
	}
}

@media (max-width: 500px) {

	.info__wrapper{
		max-width: 100%;
	}

	.header__text {
		width: 200px;
	}

	.social__a {
		display: block;
	}



}

/*-----------------*/

@media (max-width: 1281px) {

	/*-----------------*/
	
	.navbar__list {
		display: none;
		line-height: normal;
		vertical-align: middle;
	}
	
	.navbar__list__li {
		display: block;
	}

	.navbar__list__li:first-child {
		border-top: 1px solid #FFFFFF;
	}

	.navbar__list__li:last-child {
		border-bottom: 1px solid #FFFFFF;
	}

	.navbar__list__li a {
		font-size: 37px;
	}

	.navbar__form__span {
		display: none;
	}



	/*-----------------*/

	.header {
		align-items: center;
	}

	.header__text {
		margin-left: 0;
	}

	.navbar__adapted {
		display: block;
	}

	.navbar__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}
}