.navbar__adapted {
	display: none;
}

.navbar__adapted__bar {
	color: #FFFFFF;
}

.navbar__adapted__bar:hover {
	color: #F3BC46;
}

/*-----------------*/

.menu__active {
	color: #DFA322 !important;
}

/*-----------------*/

.navbar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 80;
	transition: background-color 1s;
}

.navbar__opacity {
	background-color: rgba(0, 0, 0, 0.95) !important;
}

.navbar__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	width: 90%;
	margin: 0 auto;
}

/*-----------------*/

.navbar__logo {
	display: block;
	text-align: center;
	user-select: none;
	cursor: pointer;
}

.navbar__logo__cinema {
	display: inline-block;
    vertical-align: middle;
}

.navbar__logo__picture {
	display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
}

.navbar__logo__night {
	display: inline-block;
    vertical-align: middle;
}

.navbar__logo:hover a {
	color: #F3BC46;
}

/*-----------------*/

.navbar__list {
	display: block;
	text-align: center;
	user-select: none;
}

.navbar__list__li {
	display: inline-block;
	margin: 0 20px;
}

.navbar__list__a:hover {
	color: #F3BC46;
}

/*-----------------*/

.navbar__form {
	display: block;
	text-align: center;
	user-select: none;
}

.navbar__form__login {
	display: inline-block;
	font-size: 30px;
	margin-right: 5px;
}

.navbar__form__login:hover {
	color: #F3BC46;
}

/*-----------------*/

@media (max-width: 1281px) {
	
	.navbar__list {
		display: none;
		line-height: normal;
		vertical-align: middle;
	}
	
	.navbar__list__li {
		display: block;
	}

	.navbar__list__li:first-child {
		border-top: 1px solid #FFFFFF;
	}

	.navbar__list__li:last-child {
		border-bottom: 1px solid #FFFFFF;
	}

	.navbar__list__li a {
		font-size: 37px;
	}

	.navbar__form__span {
		display: none;
	}

	.navbar__adapted {
		display: block !important;
	}

	.navbar__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}
	
}